.menu{display: flex;
    justify-content: space-evenly;
    padding:0;
    background-color:dimgray(58, 55, 55)}

.menu li{list-style-type:none}
.menu a{display:block;
      min-width: 120px;
      margin: 0.2em;
      padding: 0.8em;
      border: 1px;
      text-align: center;
      color: rgb(255, 255, 255);
      background-color: rgb(61, 3, 3);
      text-decoration: none ;
      border-radius: 5px;
      transition: all 0.5s;}
.menu a:hover{background-color: rgb(177, 19, 19);
            color: rgb(255, 255, 255);
            border-color: rgb(255, 255, 255);}
            
*{background-color: darkred;}

.logo{display:block;
    width: 350px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;}