.logo1{display:block;
       max-width:70%;
       height:auto;
       margin-left: auto;
       margin-right: auto;}

.menuV{ width: 20%;
     position: fixed;
     float:left;
     top:0%;
     bottom:0%;
     left:0%;
     background-color: rgb(71, 69, 69);}
   
.logo2{display:block;
    max-width:95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color:rgb(77, 64, 64) ;
}

.boutonPath{display:block;
          margin-top: 40%;
          width:70%;
          height:50px;
          margin-left: 15%;
          text-decoration:none;
         background-color: darkred;
         color: rgb(163, 162, 162);
         border-radius: 0.8em;
         text-align:center;
         font-weight: bold;
         padding-top:9%;         }
         .boutonPath:hover{background-color: rgb(233, 10, 10);
                          color: fuchsia;
                          transition: 1s;
                           }

.boutonGiby{display:block;
               margin-top: 10%;
               width:70%;
               height:50px;
               margin-left: 15%;
               text-decoration:none;
              background-color: darkred;
              color: rgb(163, 162, 162);
              border-radius: 0.8em;
              text-align:center;
              font-weight: bold;
              padding-top:9%;    }
              .boutonGiby:hover{background-color: rgb(233, 10, 10);
                                 color: green;}


.boutonMirage{display:block;
           margin-top: 10%;
           width:70%;
         height:50px;
         margin-left: 15%;
          text-decoration:none;
         background-color: darkred;
         color: rgb(163, 162, 162);
         border-radius: 0.8em;
         text-align:center;
          font-weight: bold;
          padding-top:9%;    }
          .boutonMirage:hover{background-color: rgb(233, 10, 10);
                              color: rgb(2, 2, 2);}


.logo{display:block;
   width: 400px;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
    background-color: rgb(82, 0, 0);
    border-radius: 0.8em;
   }

*{background-color: darkred;}


.main { display:block;
     float:right;
     max-width:78%; }
.sommaire{list-style-type: none;}
.sommaire a{display: block;
           background-color:rgb(2, 2, 2) ;
           text-decoration: none;  
           max-width: 150px;
           margin-top:2%;
          border: 1px;
          border-radius: 0.3em;
          text-align:center;}

.menuFooter{ display:flex;
            width: 78%;
             float:right
          }
.menuFooter li{list-style-type: none;}

.menuFooter a { display: block;
                min-width: 120px;
                vertical-align:baseline;
               background-color: rgb(71, 69, 69);
               color:white;
               text-decoration: none;
               text-align: center;
               border-radius: 0.8em;
               border:1px;
               margin: 10px;}
          
.capacités{border-radius: 0.5em;}


