
*{background-color: darkred;
   font-family: Georgia, 'Times New Roman', Times, serif;}


.logo1{display:block;
       max-width:70%;
       height:auto;
       margin-left: auto;
       margin-right: auto;
       margin-top:-21px;
       }
       

.menuV{ width: 20%;
     position: fixed;
     float:left;
     top:0%;
     bottom:0%;
     left:0%;
     background-color: rgb(71, 69, 69);}
   
.logo2{display:block;
    max-width:95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color:rgb(77, 64, 64) ;
}

.boutonPath{display:block;
          margin-top: 20%;
          width:70%;
          height:50px;
          margin-left: 15%;
          text-decoration:none;
         background-color: darkred;
         color: rgb(163, 162, 162);
         border-radius: 0.8em;
         text-align:center;
         font-weight: bold;
         padding-top:9%;
         transition: 1s;       }
         .boutonPath:hover{background-color: rgb(233, 10, 10);
                          color: rgb(2, 2, 2);
                          width:75%;
                           }

.boutonGiby{display:block;
               margin-top: 10%;
               width:70%;
               height:50px;
               margin-left: 15%;
               text-decoration:none;
              background-color: darkred;
              color: rgb(163, 162, 162);
              border-radius: 0.8em;
              text-align:center;
              font-weight: bold;
              padding-top:9%; 
              transition: 1s;   }
              .boutonGiby:hover{background-color: rgb(233, 10, 10);
                                 color:rgb(2, 2, 2);
                               width:75%;}


.boutonMirage{display:block;
           margin-top: 10%;
           width:70%;
         height:50px;
         margin-left: 15%;
          text-decoration:none;
         background-color: darkred;
         color: rgb(163, 162, 162);
         border-radius: 0.8em;
         text-align:center;
          font-weight: bold;
          padding-top:9%; 
          transition:1s;   }
          .boutonMirage:hover{background-color: rgb(233, 10, 10);
                              color: rgb(2, 2, 2);
                              width:75%}


.logo{display:block;
   width: 400px;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
    background-color: rgb(82, 0, 0);
    border-radius: 0.8em;
   }



.main { display:block;
     float:right;
     max-width:78%; }
.sommaire{list-style-type: none;}
.sommaire a{display: block;
           background-color:rgb(175, 194, 3) ;
           color: rgb(18, 19, 18);
           text-decoration: none;  
           max-width: 150px;
           margin-top:2%;
          border: 1px;
          border-radius: 0.3em;
          text-align:center;}
          .sommaire a:hover{background-color:rgb(131, 145, 5) ;
                          color: honeydew;}

.menuFooter{ display:flex;
            width: 78%;
             float:right
          }
.menuFooter li{list-style-type: none;}

.menuFooter a { display: block;
                min-width: 120px;
               background-color: rgb(71, 69, 69);
               color:white;
               text-decoration: none;
               text-align: center;
               border-radius: 0.8em;
               border:1px;
               margin: 10px;
               transition:1s;
            }
               .menuFooter a:hover{
                                 background-color: rgb(36, 33, 33);
                              color: rgb(214, 214, 214);}
          
.capacités{border-radius: 0.5em;}

.boutonPaccueil {display:block;
                  max-width:120px;
                  background-color: rgb(71,69,69);
                  color: white;
                  text-align: center;
                  text-decoration: none;
                  border-radius: 0.8em;
                  border:1px;
                  margin-right:auto;
                  margin-left: auto;
                  transition:1s;
               }
                  .boutonPaccueil:hover{background-color: rgb(36,33,33);
                                        color: rgb(214, 214, 214);
                                        }

.imageAccueil{border-radius: 0.5em;
               filter:brightness(0.9);
               max-width: 500px;
            transition:1s;
         }
              .imageAccueil:hover{filter:brightness(1.2);
                                   }
                              
.reps {border-radius: 0.8em;
       float:right;}

.dizzy {border-radius: 0.8em;
          float:right;}

.sooxfar {border-radius: 0.8em;
        float:right;}

.vidéos {display:block;
         margin-left:auto;
         margin-right:auto;}